html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-position: left top, right;
  text-align: center;
  font-family: 'Spartan', sans-serif;
}

#title-area {
  padding: 15% 0 10% 0;
}

.main-title {
  color: hsl(300, 43%, 22%);
  font: 'Spartan';
  font-weight: 700;
}

.title-info {
  color: hsl(303, 10%, 53%);
  font: 'Spartan';
  font-weight: 400;
}

.review-text {
  color: hsl(300, 43%, 22%);
}

.review-card {
  text-align: center;
  font: 'Spartan';
  font-weight: 700;
}

#testimonials {}

.testimonial-card {
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 24%, 96%);
  margin: 20px 20px;
}

.testimonial-verified {
  color: hsl(333, 80%, 67%);
}

.testimonial-title {
  text-align: left;
}

.card-img-top {
  width: 50px;
  border-radius: 50%;
  padding: 5px 5px;
}

footer {
  padding-top: 50px;
}
